html {
  scroll-behavior: smooth;
}
body {
  margin: 1in;
  background-image: url("https://starwalk.space/gallery/images/what-is-space/1540x866.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.6)
}
main {
  max-width: 1500px;
  margin: 20px auto;
  padding: 15px;
}
.box {
  border: 5px;
  border-radius: 25px;
  padding: 30px;
  background-color: white;
}
.box img {
  width: 60%;
  height: 50%;
  object-fit: cover;
  object-fit: contain;
}
h1 {
  font-family: 'Montserrat', sans-serif; 
  text-align: center;
  font-size: 36px; font-weight: 700; letter-spacing: 2px; margin: 20px 0;
}
h2 {
  text-align:center; 
  font-family:Georgia; 
  font-size:14pt; 
  margin:0;
}
h3 {
  text-align: center; 
  font-family:Georgia; 
  font-size:12pt; 
  margin:0;
}
div {
  text-align:justify; 
  font-family:Tahoma; 
  font-size:12pt; 
  line-height:1;
}
p {
  min-height: 100px;
  line-height: 2.0;
  padding:5px
}
.article-text::first-letter {
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 6px;
}